@import '../../main-styles.scss';

.top-bar{
    display: flex;
    width: 100%;
    height: 70px;
    background-color:rgb(162, 216, 198);
    justify-content: center;
    align-items: center;
    h1{
        font-family: 'Lato';
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 900;
        text-transform: uppercase;
        color: $dark;
    }
}
.budget{
    display: flex;
    height: 250px;
    background:$dark;
    justify-content: center;
    align-items: center;
    h2{
        font-family: 'Lato';
        font-weight: 300;
        font-size: 60px;
        color: white;
    
        &.green{
            color: lighten($green, 12%);
        }
        &.red{
            color: lighten($red, 12%);
        }
    }
}

.values{
    display: flex;
    justify-content: center;
    align-items: center;
    .values-container{
        width: 700px;
        height: 50px;
    }
}