<div class="top-bar">
    <h1>Budget Calculator</h1>
</div>

<section class="budget">
    <h2 [ngClass]="{'red': totalAmount<0,'green':totalAmount>0}">{{totalAmount}}</h2>
</section>

<section class="values">
    <div class="values-container">
        <app-add-item-form style="padding: 20px;" (formSubmit)="addItem($event)"></app-add-item-form>
    </div>
</section>

<hr style="margin-top:10">

<app-budget-item-list [budgetItems]="items" (delete)="deleteItem($event)" (update)="updateItem($event)"></app-budget-item-list>